<div dir=3D"ltr"><br><br><br><div id=3D"WISESTAMP_SIG_gmail_session" href=
=3D"http://WISESTAMP_SIG_gmail_session"><div><div class=3D"html" id=3D"tp1"=
 style=3D"max-width:470px">
	<table border=3D"0" cellspacing=3D"0" cellpadding=3D"0" width=3D"470" styl=
e=3D"width:470px">
		<tbody><tr valign=3D"top">
		=09
			<td style=3D"border-right:1px solid #bb0000;padding-right:10px;width:10p=
x;max-width:120px"> <img src=3D"https://s3.amazonaws.com/webapp.wisestamp.c=
om/xxr24pDR8uRvk5BGKssN_u2k_logo.png#logo" alt=3D"photo" style=3D"border-ra=
dius:4px;moz-border-radius:4px;khtml-border-radius:4px;o-border-radius:4px;=
webkit-border-radius:4px;ms-border-radius: 4px;"> </td>

		=09
			<td style=3D"font:14px Arial;color:#646464;padding-left:10px">
				<div style=3D"text-transform:capitalize"> <b class=3D"text-color theme-=
font">Team USA2Kenya</b><br>  <span>USA2Kenya LLC</span> </div>
				<div style=3D"color:#8d8d8d;font-size:13px;padding:5px 0">
					<span style=3D"color:#bb0000;display:inline-block">p:</span><a href=3D=
"tel:+1 651-321-8659" style=3D"color:#8d8d8d;text-decoration:none">+1 651-3=
21-8659</a>
				=09
					 | <span style=3D"display:inline-block"><span style=3D"color:#bb0000">=
e:</span><a href=3D"mailto:info@usa2kenya.com" style=3D"color:#8d8d8d;text-=
decoration:none">info@usa2kenya.com</a></span>
					 | <span style=3D"white-space:nowrap;display:inline-block"><span style=
=3D"color:#bb0000">w:</span><a href=3D"http://usa2kenya.com" target=3D"_bla=
nk" style=3D"color:#8d8d8d;text-decoration:none">http://usa2kenya.com</a></=
span>
					<span style=3D"white-space:nowrap;display:inline-block"> | <span style=
=3D"color:#bb0000">a:</span> <span style=3D"color:#8d8d8d">2751 Hennepin Ave S, Suite 40, Minneapolis, MN</span>
				</span></div>
			=09
				<div style=3D"margin-top:5px"><a href=3D"https://www.facebook.com/pages=
/USA2KENYACOM/770617459615169" target=3D"_blank"><img src=3D"http://images.=
wisestamp.com/facebook.png" width=3D"16"></a>=C2=A0<a href=3D"http://twitte=
r.com/usa2kenya" target=3D"_blank"><img src=3D"http://images.wisestamp.com/=
twitter.png" width=3D"16"></a>=C2=A0<a href=3D"http://blog.usa2kenya.com" t=
arget=3D"_blank"><img src=3D"http://images.wisestamp.com/tumblr.png" width=
=3D"16"></a>=C2=A0</div>

			=09
			</td>
		</tr>
	</tbody></table>
</div><div style=3D"margin-top:8px"></div><div href=3D"http://WS_promo" id=
=3D"WS_promo" style=3D"width:auto;padding-top:2px;font-size:10px;border-top=
-width:1px;border-top-style:solid;border-top-color:rgb(238,238,238);margin-=
top:10px">

	<a style=3D"color:rgb(111,111,111);text-decoration:none" href=3D"http://s.=
wisestamp.com/links?url=3Dhttp%3A%2F%2Fr1.wisestamp.com%2Fr%2Flanding%3Fpro=
mo%3D40%26dest%3Dhttp%253A%252F%252Fwww.wisestamp.com%252Femail-install%253=
Futm_source%253Dextension%2526utm_medium%253Demail%2526utm_campaign%253Dpro=
mo_40&amp;sn=3D">
		<span style=3D"color:rgb(111,111,111)">Get a signature like this:</span>
	</a>
	<span style=3D"color:rgb(165,3,16)">
		<a style=3D"color:rgb(165,3,16);font-weight:bold" href=3D"http://s.wisest=
amp.com/links?url=3Dhttp%3A%2F%2Fr1.wisestamp.com%2Fr%2Flanding%3Fpromo%3D4=
0%26amp%3Bdest%3Dhttp%253A%252F%252Fwww.wisestamp.com%252Femail-install%253=
Futm_source%253Dextension%2526utm_medium%253Demail%2526utm_campaign%253Dpro=
mo_40&amp;sn=3D">Click here!</a>
	</span>
</div><img src=3D"http://ws-stats.appspot.com/ga/pixel.png?yes__count=3Dtru=
e"></div></div></div>
