<%= stylesheet_link_tag    "sticky-footer", media: "all", "data-turbolinks-track" => true %>
<footer class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li style="float: left">© <a href="http://USA2Kenya.com" rel="nofollow">USA2Kenya LLC</a></li>
          <li style="float: left"> | </li>
          <li style="float: left">
            Follow us on <a href="https://twitter.com/USA2KENYA"><i class="fa fa-twitter-square"></i> Twitter</a> ·
            <a href="https://www.facebook.com/pages/USA2KENYACOM/770617459615169"><i class="fa fa-facebook-square"></i> Facebook</a> ·
            <a href="http://instagram.com/usa2kenya"><i class="fa fa-instagram"></i> Instagram</a> ·
            <a href="http://www.pinterest.com/usa2kenya/"><i class="fa fa-pinterest"></i> Pinterest</a>  |
          </li>

          <li style="float: center"><%= link_to 'Terms of Service', page_path('tos') %></li> ·
          <li style="float: center"><%= link_to 'Contact', page_path('contact')  %></li> ·
          <li style="float: center"><%= link_to 'How It Works', page_path('how') %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
