<address>
  <h4 class="bg-primary"> Key to order status codes</h4>
  <!-- How many orders <span class="badge">14</span> -->

  <button type="button" class="btn btn-danger btn-xs">Pending</button>
  <em class="pull-right">Order on its way to USA facility</em><br />

  <button type="button" class="btn btn-warning btn-xs">Processing</button>
  <em class="pull-right">Order processing at USA facility</em><br />

  <button type="button" class="btn btn-info btn-xs">En Route</button>
  <em class="pull-right">Order on its way to Kenya facility</em><br />

  <button type="button" class="btn btn-success btn-xs">Ready For Pickup!</button>
  <em class="pull-right">Ready for customer pickup</em><br />

  <button type="button" class="btn btn-default btn-xs">Picked Up</button>
  <em class="pull-right">Order transaction complete</em>
</address>
