<title>USA2Kenya | Contact us</title>
<div class="jumobtron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 class="bg-primary">Contact us</h1>
        <hr>
          <h3>
            <p>
              You can reach the USA2Kenya team at any time.
              <hr>
                <h4>
                  <i class="fa fa-road"></i> USA2KENYA<br />
                2751 Hennepin Ave S<br />
                Suite 40<br />
                Minneapolis, MN 55408
                <hr>
                <i class="fa fa-envelope"></i> <a href="mailto:support@usa2kenya.com">support@usa2kenya.com</a><br />
                <i class="fa fa-phone"></i>  +1 (651) 327-0433<br />
                <i class="fa fa-fax"></i>  +1 (651) 760-8259<br />
                <i class="fa fa-facebook-square"></i> <a href="https://www.facebook.com/pages/USA2KENYACOM/770617459615169">Facebook page</a><br />
                <i class="fa fa-twitter"></i> <a href="http://twitter.com/USA2KENYA">@USA2Kenya</a><br />
                <i class="fa fa-instagram"></i> <a href="http://instagram.com/usa2kenya">USA2Kenya</a><br />
              </h4>
              </p>
            </h3>
          </div>
          <div class="col-md-8">
              <h3>
                <strong>USA2Kenya Nairobi Offices</strong><br />
              </h3>
              <hr>
            <div class="row">
              <div class="col-md-4">
            <p>
              <i class="fa fa-home"></i> <i>Karen Offices</i> | <a href="http://goo.gl/VFehWQ" >Google Maps</a>
              <h5>
                <ul class="list-unstyled">
                  <li>180 Ndege Rd</li>
                  <li>Opposite from Kwarara</li>
                  <br />
                  <li>Nairobi, Kenya</li>
                  <li><i class="fa fa-phone"></i> +254 0716-860485</li>
                  <li><i class="fa fa-clock-o"></i> 9am - 5pm</li>
                </ul>
              </h5>
            </div>
            <div class="col-md-4">
              <%= link_to(image_tag("karen-1.png", alt: "USA2KENYA Karen Offices", title: "USA2KENYA Karen Offices Map", width: '300', height: '245.76' ), "http://goo.gl/VFehWQ") %>
            </div>
            </div>
              <hr>
                <div class="row">
                  <div class="col-md-4">
                    <i class="fa fa-home"></i> <i>South C Offices </i> | <a href="http://goo.gl/k2JJtL">Google Maps</a>
            </h3>
            <h5>
              <ul class="list-unstyled">
                <li>First left off of Red Cross Road</li>
                <li>Right onto Tarmac Road</li>
                <li>Immediate left to Hekima House</li>
                <br />
                <li>Nairobi, Kenya</li>
                <li><i class="fa fa-phone"></i> +254 0716-860485</li>
                <li><i class="fa fa-clock-o"></i> 9am - 5pm</li>
              </ul>
            </h5>
          </p>
        </div>
            <div class="col-md-4">
              <%= link_to(image_tag("south-c-1.png", alt: "USA2KENYA South C Offices", title: "USA2KENYA South C Offices Map", width: '300', height: '183.98' ), "http://goo.gl/k2JJtL") %>
            </div>
        </div>
          <!-- <p> -->
          <!--   <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Nairobi%2C%20Kenya&#38;key=AIzaSyBATyiSAnX&#45;Jud8Sd&#45;LzaPp1KgSC3S038M"></iframe> -->
          <!-- </p> -->
        </div>
      </div>
    </div>
  </div>
