<title>USA2Kenya | Samsung Gear</title>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="bg-primary">Samsung Gear</h1>
      <hr>
      <div class="col-md-8">
      <p>
      <%= image_tag("gear.jpg") %>
      </p>
      </div>
      <div class="col-md-4">
      <p>
      Price: $300
      </p>
      </div>
    </div>
  </div>
</div>
