<title>USA2Kenya | iPad Pro</title>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="bg-primary">iPad Pro</h1>
      <hr>
      <div class="col-md-8">
      <p>
      <%= image_tag("ipad_pro.jpeg") %>
      </p>
      </div>
      <div class="col-md-4">
      <p>
      Price: $999
      </p>
      </div>
    </div>
  </div>
</div>
