<title>USA2Kenya | Macbook Pro</title>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="bg-primary">Macbook Pro</h1>
      <hr>
      <div class="col-md-8">
      <p>
      <%= image_tag("macbook_pro.jpeg") %>
      </p>
      </div>
      <div class="col-md-4">
      <p>
      Price: $1299
      </p>
      </div>
    </div>
  </div>
</div>
