<title>USA2Kenya | Google Nexus</title>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="bg-primary">Google Nexus</h1>
      <hr>
      <div class="col-md-8">
      <p>
      <%= image_tag("nexus.jpg") %>
      </p>
      </div>
      <div class="col-md-4">
      <p>
      Price: $600
      </p>
      </div>
    </div>
  </div>
</div>
