<title>USA2Kenya | Oculus Rift</title>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="bg-primary">Oculus Rift</h1>
      <hr>
      <div class="col-md-8">
      <p>
      <%= image_tag("oculus_rift.jpg") %>
      </p>
      </div>
      <div class="col-md-4">
      <p>
      Price: $400
      </p>
      </div>
    </div>
  </div>
</div>
