<title>USA2Kenya | Restricted Items List</title>
<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <h1 class="bg-primary">Restricted Items List</h1>
      <hr>
        <h2>What types of products are prohibited for shipping?</h2>
        <hr>
          <p class="text-default">
            <h3>The following types of products <strong>can</strong> be transported</h3>
            <ul>
              <li>Fragrances</li>
              <li>Tires</li>
              <li>Food supplements for sportsmen (Requires custom clearance, please <a href="mailto:customs@usa2kenya.com">email: customs@usa2kenya.com</a> for further information)</li>
              <li>Vitamins and medicines that don’t need special transportation permission to  Kenya (Requires custom clearance, please <a href="mailto:customs@usa2kenya.com">email: customs@usa2kenya.com</a> for further information)</li>
              <li>Creams and perfumery products that aren’t flammable</li>
            </ul>
          </p>
          <p class="text-default">
            <h3>The following kinds of products are restricted to ship</h3>
            <ul>
              <li>Plants and seeds</li>
              <li>Crossbow, arrows and/or similar type products</li>
              <li>Explosive substances or products, for example cigarette lighter or fireworks</li>
              <li>Pornographic material</li>
              <li>Animals, plants, fish, birds, rodents, etc.</li>
              <li>Toxic materials</li>
              <li>Firearms, rifles, guns, as well as their parts and accessories</li>
              <li>Tobacco, narcotic substances, or plants and their seeds</li>
              <li>Products that contain a toxic substance called Azbest</li>
              <li>Stuffed (taxidermy) animals, bones, fur, ivory, etc.</li>
              <li>Real money – coins and bank notes of any country</li>
              <li>Journals and catalogs</li>
              <li>Pneumatic air guns without air container, optical shooter or any accessory.</li>
              <li>Airsoft  guns, electro pneumatic paintball guns  and any accessory</li>
              <li>Paintball guns without CO2 tanks and optical devices</li>
              <li>Underwater hunting guns and their accessories</li>
            </ul>
          </p>
          <p>
            Please note, that despite the above enlisted information, a customs officer still has the right to detain a parcel and demand additional explanations, for example the original invoice for statement of lower price, or some special document allowing you the transportation of the product. Always ask the shop to put an order or an invoice inside the box, and make sure you fill in the declaration form in your account.
            <br />
            <strong>If you send the prohibited products, we do not take responsibility for its confiscation.</strong>
          </p>
          <hr>
          </div>
        </div>
      </div>

