<title>USA2Kenya | Terms of Service</title>
<div class="container">
<h1>International Cargo Transportation and Freight Forwarding Agreement</h1>

"USA2KENYA LLC" hereby mentioned as Freight Forwarding Company or the freight forwarder, web page: www.USA2KENYA.com.<br />
And the customer: private or juridical person, who uses the "USA2KENYA LLC" services and has been assigned a five digit account number, which is indicated in a package's enclosed commercial invoice, customs documents and in the database of USA2KENYA:
<h2>1. Subject of agreement</h2>

1.1.The subject of the agreement is the transportation of goods ordered by customer and received by the freight forwarder, from the company's warehouse to Kenya, that would be carried out on behalf of the freight forwarder and at the customer's expense.<br />
1.2.Registration is free and voluntary with the company "USA2KENYA". The customer can register online on the web page www.USA2KENYA.com Service conditions are public. Using the company's service itself means that the customer has read and agrees with all conditions of usage.

<h2>2. Transportation cost, package weight rounding and payment</h2>

2.1.Transportation price is calculated according to the total package weight comparing its gross and dimensional weights. If the dimensional weight is more than the gross one, the payable amount depends on dimensional weight. The dimensional weight is determined by multiplying height, length, and width and dividing by 5000 (height X length X width / 5000 for cm and kg) (See the price section on our web site www.USA2KENYA.com.) The chargeable rate of the calculated weight according to the mentioned formula is 1450 $ per kilogram, which must be paid in KSH according to Bank's exchange rate at the time of payment.<br />
2.2.Payment is accepted only by the specified methods noted on the web site www.USA2KENYA.com or the customer should expect delays in package delivery.<br />
2.3.The weight is rounded to 100 grams.<br />
2.4.The payment must be made within 7 days, after package arrival. In case of payment delay, goods would bear a storage commission 1$ / kg.<br />
2.5.The customer shall pay the transportation cost according to the invoice sent by freight forwarder, which is calculated individually for each package.<br />
2.6.Getting of any individual package is locked in case of debt on customer's account. All outstanding invoices must be paid first, to back the account in good standing and unlock the permission of getting packages.<br />
2.7.USA2KENYA has rights to stop packages received in US with chargeable weight of over 10kg without pre-payment from customer


<h2>3. Package service</h2>

3.1.We will not open factory packaging or remove original protective materials<br />
3.2.Gift, fragile and electronic equipment packages will not be resized at the expense of product safety.<br />
3.3.Clothes delivered in boxes will automatically be repacked in polyethylene bags and their weight calculated according to actual gross weight.<br />
3.4.In case of combined products; boxes will be resized as much as safely possible. Combined products include: shoes and clothes, clothes and jewelry, shoes and watches, etc. The transportation cost is determined comparing real and dimensional weight, taking the greater of the two as the final chargeable weight.<br />
3.5.We will not squeeze, compress, tight the product to make it smaller.<br />
3.6.USA2KENYA takes no responsibility on product damage.

<h2>4. Customer is obliged to:</h2>

4.1.Provide, in a timely manner, the corresponding documentation of goods purchased, to give necessary instructions for preparing the forwarding documents, in addition present notifications to execute customs clearance and other actions. Additionally, the customer is required to present the freight forwarder all necessary authentication documents.<br />
4.2.Notify the forwarder in advance of the shipment of dangerous goods or products, the exact type of danger the product presents, and include information about safety measures.<br />
4.3.Dangerous goods may be unloaded or destroyed any time and in any place, without subsequent damage compensation, if the forwarder is not informed about the danger in advance.<br />
4.4.To ensure that the package is wrapped according to its transportation requirements.

<h2>5. The package may be given to the third person only if he/she is able to present the following documents:</h2>

5.1.The recipient's identification card or the passport with the payment bill.<br />
5.2.Or the power of attorney, the identification card of the person who is going to take the package, and the payment bill.

<h2>6. Air flight schedule, payment, and package receiving conditions</h2>

6.1.A package will be sent to Kenya on the next business day after it is received at the USA warehouse.<br />
6.2.The average transportation duration is 7-10 days.<br />
6.3.The transportation invoice is issued as soon as the package arrives in Nairobi.<br />
6.4.The mentioned air flight schedule is not fixed and the company is not responsible for flight delays in force majeure situation (for example bad weather conditions or flight delay or changes by airline company etc.)

<h2>7. Customs clearance:</h2>

7.1 The customer is responsible for customs clearance procedures; freight forwarder will assist the customer in using simplified customs procedures. If customer's service condition failure, USA2KENYA retains the right to require the customer to pay said fine.<br />
7.2 To make the custom clearance, non Kenyan citizens will need a fiscal number which he/she may get at the ministry of revenues.

<h2>8. Restricted Items</h2>

8.1.<%= link_to 'See Restricted Items list', page_path('restricted')  %>. If the customer sends prohibited product(s), USA2KENYA is not responsible for the transportation of such goods to Kenya or for their confiscation by foreign customs.<br />
8.2.If the customer sends prohibited product(s) to the USA address, the company will not take responsibility for returning said product(s) to the seller or private person. The above-mentioned violation is considered a service condition breach and would cause the immediate service termination and legal sanctions, to be determined according to the material losses of USA2KENYA.

<h2>9. Miscellaneous rules and restrictions</h2>

9.1.Any form of slang, use of unethical or insulting terminology, by e-mail, telephone, chat, or by personal interaction with employees, as well as speaking in loud voice, tone raising, shouting, ironic or sarcastic expressions, will automatically cause the termination of USA2KENYA services without future renewal opportunity.<br />
9.2.All information and conditions that are posted on the USA2KENYA web-page, including texts from frequently asked questions and service conditions, are real and represent an indivisible part of the current agreement. Our service conditions are considered as agreement between the company and the customer, from the moment of its introduction to customer, on the company's web page by clicking the appropriate "agree" button.<br />
9.3.USA2KENYA takes no responsibility for the transportation of packages from USA to Kenya if customer makes a mistake and doesn't indicate his USA address correctly. The change of address from the customer's side is forbidden and should be entered with the greatest exactness, as it's indicated in customer's account and also in the letter, received after registration.<br />
9.4.USA2KENYA takes responsibility only for those services that are specifically mentioned on the service condition page.<br />
9.5.USA2KENYA has the right to record interaction with the customer, using all types of internet, telecommunications, and video monitoring equipment, including, for example, saved emails and recorded telephone conversations that the company may use to defend its own interests in case of legal disputes.<br />
9.6.The customer agrees that all the documentation (identification card, passport or payment bill) is real and the entire responsibility for its validity relies on the customer.<br />
9.7.The customer's personal information is confidential. USA2KENYA will not provide these documents to a third party, without the customer's explicit permission.<br />
9.8.  An empty inbox accounts with no incoming package activity within 3 month will be terminated.<br />
9.9.USA2KENYA has the right to change the service conditions after informing customer, and regardless of his assent.<br />
9.10. Other terms of current agreement are regulated by current Kenyan country law.
</div>
